.btn-paris{

    margin-left: 5px;
}

.padding{

    width: 250px;
    padding: 0;


}

.cote{
   font-size: 24px;
   font-weight: 700;
}

.form-control{
    margin-top: 5px;
}

.delete{
    float : right;
}

.details{
    float:right;
}

a{
    color: rgb(0, 0, 0);
}

.annonce{
    padding: 5px;
  
}
